In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
jobs = pd.read_csv('job_list.csv')
jobs.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$64K-$106K (Glassdoor est.),***Please note: All hiring and recruitment at ...,3.6,Spring Health\n3.6,"New York, NY","New York, NY",1 to 50 employees,2016,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1
1,1,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,"Data Scientist - Statistics, Early Career",$64K-$106K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310918\n\n...,3.8,Pacific Northwest National Laboratory\n3.8,"Seattle, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
3,3,Data Scientist,$64K-$106K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.1,Carousel Industries\n3.1,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1

In [10]:
jobs = jobs[jobs['Salary Estimate'] != -1 ]
salary = jobs['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary = salary.apply(lambda x: x.replace('K', '').replace('$',''))

jobs['Salary Estimate'] = salary
jobs['hourly'] = jobs['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
jobs['min_salary'] = jobs['Salary Estimate'].apply(lambda x: int(x.split('-')[0]))
jobs['max_salary'] = jobs['Salary Estimate'].apply(lambda x: int(x.split('-')[1]))
jobs['avg_salary'] =(jobs.min_salary + jobs.max_salary)/2
jobs.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,min_salary,max_salary,avg_salary
0,0,Data Scientist,64 - 106,***Please note: All hiring and recruitment at ...,3.6,Spring Health\n3.6,"New York, NY","New York, NY",1 to 50 employees,2016,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,0,64,106,85.0
1,1,Data Scientist,64 - 106,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,0,64,106,85.0
2,2,"Data Scientist - Statistics, Early Career",64 - 106,*Organization and Job ID**\nJob ID: 310918\n\n...,3.8,Pacific Northwest National Laboratory\n3.8,"Seattle, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,64,106,85.0
3,3,Data Scientist,64 - 106,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",0,64,106,85.0
4,4,Associate Business Intelligence Data Scientist,64 - 106,"Blending customer advisory, customer support, ...",3.1,Carousel Industries\n3.1,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1,0,64,106,85.0

In [17]:
jobs[['City','State']] = jobs['Location'].str.split(',', expand=True)
jobs['Company Name'] = jobs['Company Name'].apply(lambda x: x.split('\n')[0])
jobs.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,hourly,min_salary,max_salary,avg_salary,City,State
0,0,Data Scientist,64 - 106,***Please note: All hiring and recruitment at ...,3.6,Spring Health,"New York, NY","New York, NY",1 to 50 employees,2016,...,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,0,64,106,85.0,New York,NY
1,1,Data Scientist,64 - 106,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,Research & Development,Business Services,$1 to $2 billion (USD),-1,0,64,106,85.0,Chantilly,VA
2,2,"Data Scientist - Statistics, Early Career",64 - 106,*Organization and Job ID**\nJob ID: 310918\n\n...,3.8,Pacific Northwest National Laboratory,"Seattle, WA","Richland, WA",1001 to 5000 employees,1965,...,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,64,106,85.0,Seattle,WA
3,3,Data Scientist,64 - 106,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",0,64,106,85.0,Newton,MA
4,4,Associate Business Intelligence Data Scientist,64 - 106,"Blending customer advisory, customer support, ...",3.1,Carousel Industries,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,...,IT Services,Information Technology,$500 million to $1 billion (USD),-1,0,64,106,85.0,Exeter,RI

In [33]:
jobs['same_state'] = jobs.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis=1)
jobs['company_age'] = jobs['Founded'].apply(lambda x: x if x<1 else 2020-x)

In [34]:
jobs.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Revenue,Competitors,hourly,min_salary,max_salary,avg_salary,City,State,same_state,company_age
0,0,Data Scientist,64 - 106,***Please note: All hiring and recruitment at ...,3.6,Spring Health,"New York, NY","New York, NY",1 to 50 employees,2016,...,Unknown / Non-Applicable,-1,0,64,106,85.0,New York,NY,1,4
1,1,Data Scientist,64 - 106,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,$1 to $2 billion (USD),-1,0,64,106,85.0,Chantilly,VA,0,52
2,2,"Data Scientist - Statistics, Early Career",64 - 106,*Organization and Job ID**\nJob ID: 310918\n\n...,3.8,Pacific Northwest National Laboratory,"Seattle, WA","Richland, WA",1001 to 5000 employees,1965,...,$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,64,106,85.0,Seattle,WA,0,55
3,3,Data Scientist,64 - 106,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",0,64,106,85.0,Newton,MA,0,20
4,4,Associate Business Intelligence Data Scientist,64 - 106,"Blending customer advisory, customer support, ...",3.1,Carousel Industries,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,...,$500 million to $1 billion (USD),-1,0,64,106,85.0,Exeter,RI,1,28